.bgwebprotec {
    background-color: rgb(200, 200, 200);
}

.textcolorblue {
    color: rgb(0, 0, 90);
}

.iconcontactpage {
    width: 20px;
    height: 20px;
}

.iconmaillimit {
    width: 20px;
    height: 15px;
}

.blocklimit92 {
    width: 92%;
}

.iconsociallink {
    width: 30px;
    height: 30px;
}

.iconmaillimitplus {
    width: 35px;
    height: 25px;
}