.footergg {
    height: 80px;
}

.bg-gg {
    background-color: rgb(200, 200, 200);
}

.textggc {
    color: rgb(0, 0, 90);
}

.icongg {
    width: 20px;
    height: 20px;
}

.iconmailgg {
    width: 20px;
    height: 15px;
}

.blockgg {
    width: 92%;
}

.iconggf {
    width: 30px;
    height: 30px;
}

.iconmailggf {
    width: 35px;
    height: 25px;
}